[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh/custom/plugins/fzf-tab"]
	path = .oh-my-zsh/custom/plugins/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab.git
[submodule ".oh-my-zsh/custom/plugins/z"]
	path = .oh-my-zsh/custom/plugins/z
	url = git@github.com:rupa/z.git
[submodule "/home/worldpotato/.cfg/fzf"]
	path = /home/worldpotato/.cfg/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "repos/dmenu"]
	path = repos/used_programms/dmenu
	url = git@github.com:worldpotato/potatomenu.git
[submodule "repos/used_programms/potatomenu"]
	path = repos/used_programms/potatomenu
	url = git@github.com:worldpotato/potatomenu.git
